node_modules/*
static/sass/chat.scss
instance/*
!instance/.gitignore
.webassets-cache
__pycache__/*
flask_session/*
*.py[cod]
*$py.class

# C extensions
*.so

# vscode
.vscode/*
!.vscode/settings.json

