static/node_modules/*
static/css/chat.css
static/css/style.css
instance/*
!instance/.gitignore
.webassets-cache
__pycache__/*
flask_session/*
*.py[cod]
*$py.class

# C extensions
*.so

# vscode
.vscode/*
!.vscode/settings.json

