@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }

  @mixin text($color, $size) {
    color: $color;
    font-size: $size;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    letter-spacing : 0.05em;
}
  
.side-bar {
    @include flexbox();
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 5 / 2;
    background-color: #3F0E40;
}

.header-info {
  position: fixed;
  @include flexbox();
  @include order(1);
  justify-content: left;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 20%;
  height: 10%;
  top: 8%;
}

#online {
  position: absolute;
  right: 90%;
  height: 12px;
  width: 12px;
  background-color: rgb(79, 255, 88);
  border-radius: 50%;
  display: inline-block;
}

#name {
  @include text(white, 18px);
  position: relative;
  left: 12%;
}

.channels-section {
  @include order(1);
  position: fixed;
  width: 20%;
  height: 70%;
  top: 20%;
  border-bottom: 1px solid black;
  padding-top: 1.5%;
}

#channels {
  @include text(white, 23px);
  position: relative;
  left: 13%;
}

#new-channel-btn {
  position: relative;
  top: -0.4%;
  left: 23%;
}


