@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }

  @mixin text($color, $size) {
    color: $color;
    font-size: $size;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    letter-spacing : 0.05em;
}
  
.side-bar {
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 5 / 2;
    background-color: #3F0E40;
}

.header-info {
  position: relative;
  justify-content: left;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 10%;
  top: 8%;
}

#online {
  top: 27%;
  position: relative;
  left: 8%;
  height: 10%;
  width: 3%;
  background-color: rgb(79, 255, 88);
  border-radius: 50%;
  display: inline-block;
}

#name {
  @include text(white, 18px);
  position: relative;
  left: 12%;
  top: 30%;
}

.channels-section {
  @include order(1);
  position: fixed;
  width: 20%;
  height: 70%;
  top: 20%;
}

#channels-label {
  @include text(white, 23px);
  position: relative;
  top: -5%;
  left: 5%;
}

#new-channel-btn {
  position: relative;
  background-color: #3F0E40;
  border: none;
  top: -4%;
  left: 30%;
  color: wheat;
  text-decoration: none;
  font-size: xx-large;
  overflow: hidden
}

.channels {
  position: relative;
  padding: 0 0 0 5%;
}

ul {
    list-style-type: none; 
      li {
        
          margin: 7% 0;
          opacity: 70%;
           a {
              text-decoration: none;
              color: white;
              padding: 3% 0;        
           }
      }
}

ul li a:active {
  background-color: white;
  opacity: 50%;
  color: black;
}

ul li a:hover,
#new-channel-btn:hover {
  background-color: white;
  color: black;
  font-weight: bold; 
}

.input-message-area {
  grid-area: 4 / 2 / 5 / 4;
  width: 100%;
  height: 100%;
}

#new-message-box {
  position: relative;
  top:13%;
  border-radius: 3%;
  width: 90%;
  height: 60%;
  left: 3%;
}

#new-message-box:focus {
  font-size: x-large;
}


.messages {
  grid-area: 1 / 2 / 4 / 4;
  width: 100%;
  height: 100%;
}

#chat-box {
  position: relative;
  width: 90%;
  height: 95%;
  left: 3%;
  background-color: rgb(216, 213, 216);
  border-radius: 5%;;
  margin-right: 2%;
  margin-top: 3%;
}

/* New channel popup window */
.popup {
  position: relative;
  grid-area: 1 / 1 / 5 / 4;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-content {
  grid-area: 2 / 2 / 4 / 3;
  height: 50%;
  width: 40%;
  background: white;
  border: 2px solid #3F0E40;
  border-radius: 5%;
}

.popup-content * {
  position: relative;
}

.popup-content label,
.popup-content input {
  display: block;
  top: 25%;
}

.popup-content button {
  display: inline-block;
  padding: 10px;
  margin: 40% 5% 0 0;
  border: 1.2px solid #3F0E40;
  border-radius: 5%;
}

#create {
  background: #3F0E40;
  color: white;
  font-size: larger;
}

#cancel {
  background: rgb(255, 0, 0);
  color: white;
}

#new-channel-name {
  border: 2px solid #3F0E40;
  border-radius: 5px;
  width: 60%;
  height: 13%;
  top: 45%;
  left: 20%;
  font-size: larger;

}

.popup-content label {
  top:30%;
  font-size: larger;
  font-weight: bolder;
  
}




