@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }

  @mixin text($color, $size) {
    color: $color;
    font-size: $size;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    letter-spacing : 0.05em;
}
  
.side-bar {
    @include flexbox();
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 5 / 2;
    background-color: #3F0E40;
}

.header-info {
  position: fixed;
  @include flexbox();
  @include order(1);
  justify-content: left;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 18%;
  height: 10%;
  top: 8%;
}

#online {
  position: absolute;
  right: 90%;
  height: 12px;
  width: 12px;
  background-color: rgb(79, 255, 88);
  border-radius: 50%;
  display: inline-block;
}

#name {
  @include text(white, 18px);
  position: relative;
  left: 12%;
}

.channels-section {
  @include order(1);
  position: fixed;
  width: 18%;
  height: 70%;
  top: 20%;
}

#channels-label {
  @include text(white, 23px);
  position: relative;
  top: -5%;
  left: 5%;
}

#new-channel-btn {
  position: relative;
  top: -4%;
  left: 30%;
  color: wheat;
  text-decoration: none;
  font-size: xx-large;
}

.channels {
  position: relative;
  padding: 0 0 0 5%;
}

ul {
    list-style-type: none; 
      li {
        
          margin: 7% 0;
          opacity: 70%;
           a {
              text-decoration: none;
              color: white;
              padding: 3% 0;        
           }
      }
}

ul li a:active {
  background-color: white;
  opacity: 50%;
  color: black;
}

ul li a:hover,
#new-channel-btn:hover {
  background-color: white;
  color: black;
  font-weight: bold; 
}

.input-message-area {
  grid-area: 4 / 2 / 5 / 4;
  @include flexbox();
  flex-wrap: wrap;
}

#message-box {
  place-self: start;
  border: 1.5px solid black;
  border-radius: 5%;
  width: 73vw;
  height: 5vw;
}

.messages {
  grid-area: 1 / 2 / 4 / 4;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 213, 216);
  border-radius: 5%;;
  margin-right: 2%;
  margin-top: 3%;
  width: 74vw;
  height: 38vw;
}

#message-box:focus {
  font-size: x-large;
}
