{% extends "layout.html" %}
{% block title %}
    Flack
{% endblock %}
{% block body %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<div class="side-bar">

    <div class="header-info">
        <span id="online"></span>
        <span id="name">{{ display_name }}</span>
    </div>

    <div class="channels-section">

        <span id="channels-label"><b>Channels</b></span>
        <a href="" id="new-channel-btn">+</a>

        <ul class="channels">
            <li><a href="" id="ch-nm">#  Channel dsadasdasdasda1</a></li>
            <li><a href="" id="ch-nm">#  Channel 2</a></li>
            <li><a href="" id="ch-nm">#  Channel 3</a></li>
        </ul>

    </div>
</div>

<!-- dynamically generate placeholder corrsepond to channel-->
<div class="input-message-area">
    <textarea id="new-message-box"></textarea>
</div>

<div class="messages">
    <div id="chat-box"></div>
</div>

<div class="popup">
    <div class="popup-content">
        <label for="new-channel-name">Create New Chat Channel</label>
        <input type="text" id="new-channel-name" placeholder="   Channel Name" required />
        <button id="create">Create Channel</button>
        <button id="cancel">Cancel</button>
        
    </div>
</div>



{% endblock %}
