<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Black+Han+Sans">
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>

</html>
