<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Black+Han+Sans">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    </head>
    
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>

</html>
